@media (max-width:600px){
    .home-container{
        padding-top: 50px;
        
    }
    .section-container{
        padding-top: 30px;
        flex-direction: column;
    }
    .home-navbar1{
        display: none;
    }
    .home-header{
        padding-top: 0px;
    }
    .Heading-2 {
        font-size: 24px;

    }
    .max-width-container{
        padding-left: 0;
        padding-right: 0;
    }
    .home-cards-container{
        gap: 14px;
        justify-content: center;
    }
    .category-card-image{
        width: 190px;
        height: 190px;
       
    }
    .home-full-width-banner{
        width: 100%;
        padding: 0;
    }
    .home-content{
        width: 100%;
        margin: 20px;
       
    }
    .home-text29{
        font-size: 20px;
        
    }
    .home-text30{
        width: 95%;
        font-size: 12px;
    }
    .button{
        margin-bottom: 20px;
         padding: 0.5rem 1rem; 
        
    }
    .home-image6{
        width: 100%;
    }
    .home-container07{
        padding: 6px;
        margin-top: 50px;
    }
    .home-text23{
        font-size: 11px;
        margin-bottom: 36px;
    }
    .blog-post-card-container{
        padding:18px 8px 32px 14px;
       
    }
    .blog-post-card-text{
        font-size: 16px;
        margin: 8px 0;
    }
    .blog-post-card-text1{
        font-size: 12px;
        margin-bottom: 18px;
    }
    .home-footer{
        display: flex;
        flex-wrap: wrap;
    }
    .home-footer .max-width-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .home-footer1{
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 20px;
    }
    .home-container09{
        justify-self: flex-end;
        width: 100%;
        order: 1;
        margin-top: 40px;
    }
    .home-container10{
       
        flex-direction: column;
        flex-wrap: wrap;
    }
    .home-links-container{
        flex-direction: column;
    }
    .home-links-container span{
        font-weight: bold;
    }


    
    
   

}